.Spinner {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: rotate(45deg);
    padding: 20px;
}

.Spinner-Item {
    background-color: red;
    width: 50%;
    height: 50%;
    transition: .2s all;
}

.Spinner-Item-Hidden {
    opacity: 0;
}

.Spinner-size_small {
    width: 20px;
    height: 20px;
}

.Spinner-size_medium {
    width: 40px;
    height: 40px;
}

.Spinner-size_large {
    width: 60px;
    height: 60px;
}